{% extends 'base.html' %}

{% block content%}

<div class="container row">
  <form action='' method='post'>

    {%csrf_token%}


    {% if object %}
    <h3>Edit <span class="teal-text">{{object.title}}</span></h3>
    {% else %}
    <h3 class="center-align">Add Event</h3>
    {% endif %}
    <form action='' method='post'>
      {%csrf_token%}

      <table>
        {{form.as_table}}
      </table>
      <div class=" center align">
        <button type="submit" value="Add Event" class="waves-effect waves-green btn hoverable">Add Event<i
            class="material-icons right">event</i></button>
      </div>
    </form>
</div>

<script>
  var dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  var timeEl = document.getElementById('id_time');
  M.Timepicker.init(timeEl, {
    format: "HH:ii:SS",
    default: 'now',
    setDefaultDate: true,
    autoClose: true
  });

  var selectEl = document.getElementById('id_category');
  M.FormSelect.init(selectEl);
</script>
{% endblock %}