{% extends 'base.html' %}
{% block content %}


{% if category %}
<h1>{{category}} Events</h1>
{% else%}
<h1>All Events</h1>
{% endif %}

{% for event in events %}
<div class="row">
    <div class="col s6">
        <div class="card horizontal hoverable">
            <div class="card-image">
                {% for photo in event.photo_set.all %}
                <img src="{{photo.url}}" , , style="height: 100px; width:100px;">
                {% empty %}
                <div class="card-panel teal-text center-align">No Photos Uploaded</div>
                {% endfor %}
            </div>
            <div class=" card-stacked">
                <div class="card-content">
                    <p>Title: {{ event.title }}</p>
                    <p>Date: {{ event.date }}</p>
                    <p>Time: {{ event.time }}</p>
                    <p>Location: {{ event.location }}</p>
                    <p class="truncate">Description: {{ event.description }}</p>
                    <div class="card-action">
                        <a class="btn waves-effect waves-green blue right" href="{% url 'events_detail' event.id %}"><i
                                class="material-icons center-align">visibility</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}


    {% endblock %}