{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div id=""class="col s12">
        <ul id="profhead">
            <li class="col s2"> Full name: {{ user.get_full_name }} </li>
            <li class="col s2"> @{{ user.username }} </li>
            <li class="col s2"> Id: {{ user.id }} </li>
            <li class="col s2"> Email: {{ user.email }}</li>
            <li class="col s2"> Group: {{ user.groups.all.0 }}</li>
        </ul>
    </div>
    <div>
        <br><br><br>
        <hr>

        <table>
            <thead>
                <tr>
                    <th class="center-align">Attending</th>
                    <th class="center-align">Created</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td class="center-align">{{ event.title }}</td>
                    <td class="center-align">{{ event.title }}</td>
                </tr>
                <tr>
                    <td class="center-align">{{ event.title }}</td>
                    <td class="center-align">{{ event.title }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



<!-- 
<div class="row">

    <div id="profile" class="right-align col 12">
        <div>
        <header>
            <div class="avatarcontainer">
                <img src="http://www.croop.cl/UI/twitter/images/carl.jpg" alt="avatar" class="avatar">
                <div class="hover">
                    <div class="icon-twitter"></div>
                </div>
            </div>
            <div class="bio">
                <div class="desc">
                    <h6>@{{ user.username }}</h6>
                    <h6>Id: {{ user.id }}</h6>
                </div>
            </div>
        </header>
        <div class="content">
            <div class="data">
                <ul>
                    <li>
                        <span>Full name: {{ user.get_full_name }}</span>
                    </li>
                    <li>
                        <span>Email: {{ user.email }}</span>
                    </li>
                    <li>
                        <span>Group: {{ user.groups.all.0 }}</span>
                    </li>
                </ul>
            </div>

            <div class="follow">
                <div></div> Follow
            </div>
        </div>

    </div>
</div>

    <div class="col s6">
     <h3>Events</h3>
    </div>
    <div class="col s6">
        <h3> Created</h3>
    </div>


  </div> -->


<h3>Session Started at: {{ user.last_login }}</h3>

{% for event in events %}
<div class=" card-stacked">
    <div class="card-content">
        <p>Title: {{ event.title }}</p>
        <p>Date: {{ event.date }}</p>
        <p>Time: {{ event.time }}</p>
        <p>Location: {{ event.location }}</p>
        <p class="truncate">Description: {{ event.description }}</p>
        <div class="card-action">
            <a class="btn waves-effect waves-green blue right" href="{% url 'events_detail' event.id %}"><i
                    class="material-icons center-align">visibility</i></a>
        </div>
    </div>
</div>
{%endfor%}

{% endblock %}