{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Convene</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body style="height: 100%; position: relative;">
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper" style="background-color: deepskyblue;">
                <ul>
                    <li><a href="/" class="left brand-logo">&nbsp;&nbsp;Convene</a></li>
                </ul>
                <ul class="right">
                    <li><a href="{% url 'landing'%}">Home</a></li>
                    <li><a href="{% url 'events_create'%}">Add Event</a></li>
                    <li><a href="{% url 'events'%}">View Events</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'add_event'%}">Add Event</a></li>
                    <li><a href="{% url 'user'%}">Profile</a></li>
                    <li><a href="{% url 'logout' %}">Logout w/ google</a></li>
                    <li> <a href="{% url 'logout' %}"> logout w/ django</a> </li>
                    {% else %}
                    <li><a href="{% url 'social:begin' 'google-oauth2' %}">
                            Login w/ google
                        </a>
                    </li>
                    <li> <a href="{% url 'signup' %}"> Sign Up</a> </li>
                    <li> <a href="{% url 'login' %}"> login w/ django</a> </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <main class="container" style=" min-height: 94vh;
    overflow: hidden;
    display: block;

    padding-bottom: 100px;">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer" style=" position: absolute;
    padding-bottom: 26px; bottom: 0;width: 100%; background-color: rgba(0,0,0,.6
    );
">
        <div class="right">All Rights Reserved, &copy; 2019 Convene &nbsp;</div>
    </footer>
</body>

</html>