/* .card-panel {
    border-radius: 11px;
} */
/* img{
    width: 100px;
    height: 100px;
} */

h1{
    color: red;
}

#profile{

}

#profhead{
   font-weight: 500;
}

li{
    padding-left: 18%;
    text-align: right;
}


.l1{
    border-left: solid 4px black;
    height: 500px;
    position: absolute;
    left: 50%;
  margin-left: -90px;
  top: 0;
}

.container{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.img-container {
    width: 100px;
    height: 100px;
}

#midline {

}

tr> td > input#id_description {

    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.descript{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}